.watchlist-page {
    padding-top: 5em;
}

/* width for page!!! */
/* width: min(90vw, 1000px); */
/*----------------------------------------
WatchList
-----------------------------------------*/
.watchlist-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    min-height: 400px;
}

.watchlist-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: min(90vw, 1000px);
}

.watchlist-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    width: 100%;
}

.watchlist-list {
    position: relative;
    margin: 10px;
    padding: 10px 30px;
    width: 100%;
    min-height: 225px;
    border: 1px solid grey;
    transition: 250ms ease-in;

}

.watchlist-items-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    min-height: 75px;
}


.watchlist-item {
    position: relative;
    margin: 20px;
    min-height: 125px;
    width: 250px;
}

.watchlist-item-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:
        linear-gradient(217deg, rgba(66, 66, 66, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(94, 94, 94, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(80, 80, 80, 0.8), rgba(0, 0, 255, 0) 70.71%);
    overflow: hidden;
    z-index: 25;
}

.watchlist-item-img img {
    width: 100%;
}

.watchlist-item-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.688), rgba(0, 0, 0, 0));
    z-index: 50;
}

.delete-list-div {
    position: absolute;
    top: 0;
    right: 0;
}

.delete-list-btn.btn {
    border-radius: 15px;
    background-color: var(--color-red);
}
.delete-list-btn.btn:hover,
.delete-list-btn.btn:focus {
    background-color: darkred;
}

.delete-listing-btn {
    /* display: grid;
    place-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    width: 20px;
    aspect-ratio: 1;
    font-family: 'Fredoka One', cursive;
    font-size: 1.1em;
    text-shadow: 0 0px 1px black;
    border-radius: 50%;
    color: var(--color-red);
    border: none;
    background-color: transparent;
    z-index: 51;
}
.delete-listing-btn:hover {
    color: white;
}
.watchlist-list-title {
    display: flex;
    align-items: center;
}
.watchlist-list.collapsed {
    height: 225px;
    overflow: hidden;
    transition: 250ms ease-in;
}
/*----------------------------------------
        Mobile Styling
-----------------------------------------*/
@media screen and (max-width: 800px) {
    .watchlist-page-header {
        flex-direction: column;
    }
}