.watchlist-page {
    padding-top: 100px;
}

/*----------------------------------------
        WatchList
-----------------------------------------*/
.watchlist-page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.watchlist-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    box-shadow:
        0 -1px 5px -1px grey,
        0 1px 5px 1px grey;
}

.watchlist-list {
    position: relative;
    margin: 10px;
    padding: 10px 30px;
    width: 100vw;
    min-height: 100px;
    box-shadow:
        0 -1px 5px -1px grey,
        0 1px 5px 1px grey;
}
.watchlist-items-div {
    min-height: 75px;
    background-color: antiquewhite;
}


.watchlist-item {}