.listing-show {
    margin: 60px auto;
    padding: 20px 30px;
    width: 100vw;
    box-shadow: 
        0 -1px 5px -1px grey,
        0 1px 5px 1px grey;
        background-color: beige;
}

.listing-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: antiquewhite;
    /* grid-template-columns: 60% 40%;
    grid-template-rows: 60vh; */
}

.listing-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 20px 20px 20px 0; */
    width: 60%;
    background:
        linear-gradient(217deg, rgba(66, 66, 66, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(94, 94, 94, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(80, 80, 80, 0.8), rgba(0, 0, 255, 0) 70.71%);
    overflow: hidden;
}

.listing-img img {
    height: 400px;
}
.listing-details {
    width: 40%;
}
.listing-details-list {
    padding: 20px;
    list-style: none;
}

.listing-details-list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 10px 30px;
}
.listing-details-list li span {
    position: absolute;
    left: 55%;
    /* padding-right: 50px; */
}

.listing-details-list li:not(:first-of-type) {
    border-top: 1px solid grey;
}
.buttons-div {

    width: 100%;
}
.btn {
    margin: 20px;
    padding: 5px 10px;
    color: white;
    border: none;
    box-shadow: 0 0 3px 1px rgb(184, 184, 184);
    background-color: var(--color-blueTransparent);
    transition: 250ms ease-in-out;
}
.btn:hover,
.btn:focus {
    background-color: rgb(87, 87, 200);
}
.watchlist-add-btn {
    width: 75px;
    min-height: 40px;
}