.listing-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 20px 20px 20px 0; */
    /* width: 325px; */
    width: clamp(300px, 50vw, 800px);
    background:
        linear-gradient(217deg, rgba(66, 66, 66, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(94, 94, 94, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(80, 80, 80, 0.8), rgba(0, 0, 255, 0) 70.71%);
    overflow: hidden;
}

.listing-img img {
    height: 400px;
}

.listing-main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.688), rgba(0, 0, 0, 0) 50%);
}

.listing-details {
    position: relative;
    width: 40%;
}

.listing-details-list {
    padding: 20px;
    list-style: none;
}

.listing-details-list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 10px 30px;
}

.listing-details-list li span {
    position: absolute;
    left: 55%;
    /* padding-right: 50px; */
}

.listing-details-list li:not(:first-of-type) {
    border-top: 1px solid grey;
}

.buttons-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.btn {
    margin: 20px;
    padding: 5px 10px;
    color: white;
    border: none;
    box-shadow: 0 0 3px 1px rgb(184, 184, 184);
    background-color: var(--color-blueTransparent);
    transition: 250ms ease-in-out;
}

.btn:hover,
.btn:focus {
    background-color: rgb(87, 87, 200);
}
.tags-header {
    margin-top: 30px;
}

.listing-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 60%;
    list-style: none;
}

.listing-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px 0 0;
    padding: 2px 4px;
    font-size: 16px;
    color: var(--color-blueTransparent);
    border-radius: 5px;
    background-color: rgb(171, 238, 249);
}

/*----------------------------------------
        
-----------------------------------------*/
.listing-show-wrapper {
    margin: 60px auto;
    width: clamp(400px, 80vw, 1500px);
}

.listing-show-header {
    margin-bottom: 20px;
}

.back-btn {
    display: grid;
    place-items: center;
    margin: 0 0 10px 0;
    height: 25px;
    width: 75px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px gray;
}

.watchlist-btn-div {
}

.watchlist-add-btn,
.watchlist-btn-div select {
    margin: 10px 0 0 0;
    height: 30px;
}
.watchlist-btn-div select {
    width: 150px;
}
.watchlist-btn-div p {
    display: inline;
    margin-left: 20px;
}
.watchlist-add-btn {}

.listing-wrapper {
    display: flex;
    flex-direction: row;
    /* background-color: rgba(0, 0, 255, 0.329); */
}

.listing-wrapper > div {
}

.listing-photos-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
}
.listing-photos {
    display: flex;
    justify-content: center;
    position: relative;
    background:
        linear-gradient(217deg, rgba(66, 66, 66, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(94, 94, 94, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(80, 80, 80, 0.8), rgba(0, 0, 255, 0) 70.71%);
    overflow: hidden;
}
.listing-photos img {
    /* width: 100%; */
    background-color: rgba(61, 47, 58, 0.329);
}
.listing-details-wrapper {
    display: flex;
    flex-direction: column;
    width: 40%;
}
.listing-details-wrapper > div {
    margin: 30px;
}
.listing-details-main {
    display: flex;
    flex-direction: column;
}
.listing-details-main > div,
.listing-details-main > h2 { 
    margin: 20px 0;
}
.listing-detail-estimate-options {
    display: flex;
    justify-content: space-evenly;
}
.listing-detail-estimate-options input{
    display: none;
}

.listing-detail-estimate-options label{
    display: grid;
    place-items: center;
    padding: 5px;
    width: 50px;
    background-color: rgb(217, 217, 217);
}
.listing-detail-estimate-options input[type="radio"]:checked + label{
    background-color: rgb(171, 171, 171);
}
.listing-detail-estimate-calc {
    display: grid;
    place-items: center;
    align-self: center;
    height: 40px;
    padding: 5px 10px;
    transition: 250ms ease-in;
}
.listing-details-other {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}
.listing-details-other ul {
    width: 80%;
    list-style: none;
}
.listing-details-other ul li {
    position: relative;
    padding: 5px 10px;
    margin: 10px 0;
}
.listing-details-other ul li:not(:first-of-type) {
    border-top: 1px solid grey;
}
.listing-details-other ul li span{
    position: absolute;
    right: 0;

}
.listing-details-tags {}