.listing-show {
    /* display: flex; */
    /* flex-direction: column; */
    margin: 60px auto;
    padding: 20px;
    width: clamp(400px,80vw,80vw);
}
.listing-show-header {
    margin-bottom: 20px;
}
.listing-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.listing-img {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* margin: 20px 20px 20px 0; */
    /* width: 325px; */
    width: clamp(300px, 50vw, 800px);
    background:
        linear-gradient(217deg, rgba(66, 66, 66, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(94, 94, 94, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(80, 80, 80, 0.8), rgba(0, 0, 255, 0) 70.71%);
    overflow: hidden;
}

.listing-img img {
    height: 400px;
}
.listing-main-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 20px;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.688), rgba(0, 0, 0, 0) 50%);
}
.listing-details {
    position: relative;
    width: 40%;
}
.listing-details-list {
    padding: 20px;
    list-style: none;
}

.listing-details-list li {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 10px 30px;
}
.listing-details-list li span {
    position: absolute;
    left: 55%;
    /* padding-right: 50px; */
}

.listing-details-list li:not(:first-of-type) {
    border-top: 1px solid grey;
}
.buttons-div {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.btn {
    margin: 20px;
    padding: 5px 10px;
    color: white;
    border: none;
    box-shadow: 0 0 3px 1px rgb(184, 184, 184);
    background-color: var(--color-blueTransparent);
    transition: 250ms ease-in-out;
}
.btn:hover,
.btn:focus {
    background-color: rgb(87, 87, 200);
}
.watchlist-add-btn {
    margin-right: 0;
    margin-bottom: 0;
    width: 75px;
    min-height: 40px;
}
.buttons-div select {
    padding: 5px 10px;
    min-width: 150px;
    height: 40px;
    margin-bottom: 0;
    border: 1px solid var(--color-blueTransparent);
    outline: none;
}
.tags-header {
    margin-top: 30px;
}
.listing-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    width: 60%;
    list-style: none;
}
.listing-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 5px 0 0;
    padding: 2px 4px;
    font-size: 16px;
    color: var(--color-blueTransparent);
    border-radius: 5px;
    background-color: rgb(171, 238, 249);
}
.back-btn {
    display: grid;
    place-items: center;
    margin: 0 0 10px 0;
    height: 25px;
    width: 75px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px gray;
}

/*----------------------------------------
        
-----------------------------------------*/
.listing-show-wrapper {}
.listing-show-header {}
.listing-wrapper {}
.listing-photos-wrapper {}
.listing-photo-main {}
.listing-photo-other {}
.listing-details-wrapper {}
.listing-details-main {}
.listing-details-other {}
.listing-details-tags {}