.about-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 50px 0;
    width: clamp(600px, 80vw, 800px);
    min-height: 400px;
}

.mission-wrapper {

}

.team-wrapper {

}

.team-members {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.team-member {
    display: grid;
    place-items: center;
    position: relative;
    width: 125px;
    aspect-ratio: 1;
    overflow: hidden;
}

.team-member:not(:nth-of-type(2)) img {
    position: absolute;
    height: 100%;
}

.team-member:nth-of-type(2) img{
    position: absolute;
    width: 100%;
}

.team-details {
    display: flex;
    flex-direction: row;
}
.team-details > div {
    margin: 1.5em;
    width: 40%;
}
.about-wrapper h2, 
.about-wrapper h3, 
.about-wrapper p {
    margin-bottom: 10px;
}
.team-detail-img {
    display: grid;
    place-items: center;
    position: relative;
    aspect-ratio: 1;
    overflow: hidden;
}
.team-detail-img img {
    position: absolute;
    height: 100%;
}

.team-detail-details {
}

.services-wrapper {}

.next-step-wrapper {}