.nav-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 0 20px;
    min-height: 50px;
    width: 100vw;
    color: white;
    font-size: 1.1em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.693), rgba(0, 0, 0, 0.256));
}

.background-black {
    position: sticky;
    background-color: black;
}

.nav-logo,
.nav-btns,
.nav-user {
    display: flex;
    align-items: center;
}

.nav-btns {
    justify-self: flex-end;
}

.nav-user-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-self: center; */
}

.nav-user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
}

.nav-btn {
    transition: 250ms ease-in-out;
}

.nav-btn:hover {
    color: rgb(60, 60, 246);
}

.nav-btn {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}

.mobile-nav {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    height: 50px;
    background-color: black;
    z-index: 100;
}

.hamburger-menu {
    position: absolute;
    margin-left: 1em;
    left: 0;
    width: 40px;
    height: 8px;
    border-radius: 15px;
    background-color: white;
}

.mobile-nav-modal {
    position: fixed;
    top: 50px;
    left: 0;
    bottom: 0;
    width: 0;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.828);
    z-index: 100;
    transition: 250ms ease-in;
}

.mobile-nav-open {
    width: 90%;
    z-index: 100;
}

.mobile-nav-modal .nav-btns {
    flex-direction: column;
    height: 70vh;
    justify-content: space-evenly;
}

.mobile-nav-modal .nav-btn {
    opacity: 1;
    width: auto;
    font-size: 2rem;
    transition: 100ms ease-in-out 100ms;
}
.mobile-nav-modal .nav-user.hidden, 
.mobile-nav-modal .nav-btn.hidden{
    transform: scale(0, 1);
    opacity: 0;
    transition: 50ms ease-in 50ms;
}
.mobile-nav-modal .nav-user-div {}

/*----------------------------------------
        Mobile Styling
-----------------------------------------*/
@media (max-width: 800px) {
    .nav-bar {
        display: none;
    }

    .nav-logo {
        position: absolute;
        margin: 0;
        padding: 0;
        color: white;
        font-size: 1.5rem;
    }

    .mobile-nav {
        display: flex;
    }
    .mobile-nav-modal {
    }

}