.nav-bar {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 0 20px;
    min-height: 50px;
    width: 100vw;
    color: white;
    font-size: 1.1em;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.693), rgba(0, 0, 0, 0.256));
}
.background-black {
    position: sticky;
    background-color: black;
}
.nav-logo,
.nav-btns,
.nav-user {
    display: flex;
    align-items: center;
}

.nav-btns {
    justify-self: flex-end;
}

.nav-user-div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-self: center; */
}

.nav-user {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-btn {
    transition: 250ms ease-in-out;
}

.nav-btn:hover {
    color: rgb(60, 60, 246);
}

.nav-btn {
    margin-left: 20px;
    color: white;
    text-decoration: none;
}