.explore-page {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: clamp(600px,80vw, 1920px);
}
.explore-page-content {
    display: flex;
    flex-direction: row;
}
/*----------------------------------------
        Listing Filters
-----------------------------------------*/
.filters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.filters-wrapper > fieldset {
    text-align: center;
    width: 100%;
    min-height: 100px;
    border: none;
}
.filter-price-range {}
.price-range {
    width: 50px;
}
.filter-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.filter-section h3 {
    align-self: center;
}
.filters-city {
    
}
.filters-city input {
}
.filters-county {}
.filters-tags {}

/*----------------------------------------
        listings list
-----------------------------------------*/
.listings-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 80%;
}
.listings-list a {
    margin: 10px 0;
    height: 300px;
    aspect-ratio: 1.25;
    aspect-ratio: 1.25;
}
.listing-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: 
        linear-gradient(217deg, rgba(66, 66, 66, 0.8), rgba(255, 0, 0, 0) 70.71%),
        linear-gradient(127deg, rgba(94, 94, 94, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(80, 80, 80, 0.8), rgba(0, 0, 255, 0) 70.71%);
    overflow: hidden;
}

.listing-preview img {
    height: 300px;
}
.listing-preview-detail {
    display: flex;
    flex-direction: column;
    position: absolute;
    min-height: 20%;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px ;
    color: white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.917), rgba(0, 0, 0, 0));
}
.listing-preview:hover {
}