.userprofile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
}
.userprofile-content-wrapper {
    display: grid;
    grid-template-columns: 20% 80%;
    width: 100%;
    border: 3px dotted yellow;
}
.userprofile-options-wrapper {
    border: 3px dotted lawngreen;
}
.userprofile-options-wrapper ul {
    list-style: none;
}
.userprofile-options-wrapper ul li{}
.userprofile-content {
    border: 3px dotted rgb(105, 237, 237);
    
}
.userprofile-content h2 {
    margin-bottom: 20px;
}
.userprofile-content fieldset {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px 0 20px 0;
    border: none;
}
.userprofile-content fieldset input,
.userprofile-content fieldset select {
        margin: 0 5px;
}
.userprofile-content select {
    width: 100px;
}
.userprofile-manage-personal {}
.userprofile-manage-account {}
.userprofile-watchlist {}
.userprofile-recent {}