/* font-family: 'Cabin', sans-serif;
font-family: 'Prompt', sans-serif; */
:root {
    --color-blue: rgb(9, 9, 148);
    --color-blueTransparent: rgba(9, 9, 148,.8);
    --color-red: rgb(204, 32, 32);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
}

body {
    font-family: "Cabin";
}
.flex-hor-center {
    align-self: center;
}
.text-blue {
    color: rgb(110, 138, 251);
}
.text-black {
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Prompt";
}
button {
    font-family: "Cabin";
}

.btn-cancel {
    color: white;
    background-color: rgb(193, 50, 50);
}
.btn-cancel:hover,
.btn-cancel:focus {
    
    background-color: rgb(213, 63, 63);
}
button:disabled {
    background-color: rgb(145, 145, 145);
}
button:hover:disabled {
    background-color: rgb(145, 145, 145);
}
input {
    padding: 5px;
}
.no-margin-left {
    margin-left: 0;
}
.no-margin-top-bot {
    margin-top: 0;
    margin-bottom: 0;
}

.text-italic {
    font-style: italic;
}
.text-small {
    font-size: 16px;
}