/* font-family: 'Cabin', sans-serif;
font-family: 'Prompt', sans-serif; */
:root {
    --color-blue: rgb(9, 9, 148);
    --color-blueTransparent: rgba(9, 9, 148,.8);
    --color-red: rgb(204, 32, 32);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    position: relative;
}

body {
    font-family: "Prompt";
}
.flex-hor-center {
    align-self: center;
}
.text-blue {
    color: rgb(110, 138, 251);
}
.text-black {
    color: black;
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Cabin";
}
button {
    font-family: "Prompt";
}
input {
    padding: 5px;
}